extends /includes/layout

block header
  meta(name="description", content="More about me.")
  title Adam Heins - About

block content
  article
    section
      h1 About
      section
        p.
          I'm currently a Ph.D. candidate in the
          #[a(href="http://dynsyslab.org") Dynamic Systems Lab] at the
          University of Toronto Institute for Aerospace Studies, where I'm
          researching safe, probabilistic learning for robots under the
          supervision of Prof. Angela Schoellig. My publications can be found
          on #[a(href="https://scholar.google.com/citations?hl=en&user=4G2IkRUAAAAJ") Google Scholar].
          I completed a B.A.Sc. in Mechatronics Engineering at the University
          of Waterloo in April 2017.
        p.
          I've written a fair bit of code, much of which you can find on
          #[a(href="https://github.com/adamheins") GitHub]. Some of my other
          current hobbies include running, climbing, baking, and reading.
        p.
          The best way to get in touch with me is through
          #[a(href="mailto:mail@adamheins.com") email].
