extends /includes/layout

block header
  meta(name="description", content="More about me.")
  title Adam Heins - About

block content
  article
    section
      h1 About
      section
        p.
          I finished my undergrad in Mechatronics Engineering at the University
          of Waterloo in April 2017. I'm currently pursuing a Master's degree
          at #[a(href="www.utias.utoronto.ca") UTIAS], researching robot
          learning under uncertainty.
        p.
          I've written a fair bit of code, much of which you can find on
          #[a(href="https://github.com/adamheins") GitHub]. Some of my other
          current hobbies include running, climbing, cooking, and reading. I
          also like coffee.
        p.
          The best way to get in touch with me is through
          #[a(href="mailto:mail@adamheins.com") email]
          (#[a(href=host + "/pgp") PGP]).
