extends /includes/layout

block header
  meta(name="description", content="More about me.")
  title Adam Heins - About

block content
  article
    section
      h1 About
      p.
        My name is Adam. I'm a recent graduate from the Mechatronics
        Engineering program at the University of Waterloo. I'll be starting a
        Master's degree at UTIAS this fall. I'm particularly interested in
        robotics and control systems.
      p.
        I enjoy solving problems and creating interesting things. I've written
        a fair bit of code, much of which you can find on
        #[a(href="https://github.com/adamheins") GitHub].  For more details,
        see my #[a(href=staticHost + "/resume/resume.pdf") résumé].
      p.
        My current hobbies include running, cooking, and reading. I also like
        coffee.
      p.
        The best way to get in touch with me is through
        #[a(href="mailto:mail@adamheins.com") email] (#[a(href=host + "/pgp") PGP]).
