extends ../../../layout

block header
  meta(name="description", content="Recipe for cinnamon bread.")
  title Cinnamon Bread

block content
  article
    section
      h1 Cinnamon Bread
      p.
        A variation on #[a(href="/recipes/food/bread/basic") basic bread] that
        is sweeter and adds cinnamon. Good for a snack or even a dessert.
      .img-wrapper
        img(src="#{process.env.STATIC_HOST}/img/food/cinnamon-bread.jpg",
            alt="Two loaves of cinnamon bread.")
        p.caption Two loaves of cinnamon bread.
    section
      h2 Ingredients
      ul.bare
        li #[strong 6 cups] White Flour
        li #[strong 2&frac14 cups] Warm Water (110-115&#176;F)
        li #[strong 1 tsp] Active Dry Yeast
        li #[strong 2 tbsp] Canola Oil
        li #[strong 5 tbsp] White Sugar
        li #[strong 1 tbsp] Salt
        li #[strong 4 tsp] Ground Cinnamon
        li Cooking Spray
    section
      h2 Equipment
      ul.bare
        li Large Mixing Bowl
        li Small Mixing Bowl
        li Measuring Cups
        li Stirring Spoon
        li Two 9&#215;5 inch Baking Pans
        li A Clean Surface
    section
      h2 Yield
      p Two loaves.
    section
      h2 Steps
      ol.bold
        li Add warm water to bowl.
        li Add yeast to bowl. Stir until dissolved.
        li.
          Add salt, 3 tbsp sugar, oil, 1 tsp cinnamon, and 3 cups flour to the
          bowl. Stir until mixed.
        li.
          Continue adding and mixing flour, half a cup at a time, until you
          have a soft dough.
        li Place dough on a lightly-floured surface.
        li Knead the dough for 10 minutes, adding flour as necessary.
        li.
          Place the dough in a greased bowl, flip the dough once to grease the
          top.
        li.
          Cover the bowl with a lightly-moistened cloth. Leave for 1&frac12;
          hours. The dough should have approximately doubled in size after
          this period.
        li.
          Punch the dough down. Remove from the bowl and place on a
          lightly-floured surface.
        li.
          Divide the dough into two pieces and flatten each into roughly the
          shape of a long rectangle.
        li.
          Create cinnamon sugar. Mix 2 tbsp of sugar with 1 tbsp of cinnamon in
          a small bowl.
        li.
          Generously sprinkle cinnamon sugar on the top surface of each piece of
          dough. Once the top is covered, roll each piece of dough into the
          shape of a loaf.
        li Spray each pan and place a loaf into each.
        li Top each loaf with a sprinkle of cinnamon sugar.
        li.
          Cover each pan with a damp cloth and leave for 40 minutes to rise
          further.
        li Bake for 30-35 minutes at 375&#176;F.
        li Remove loaves from pans and let cool for 20-30 minutes.
