extends layout

block header
  meta(name="description", content="Learn a bit more about the person behind the website.")
  title About Adam

block scripts
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  .page-header
    h1 About Me
    p Find out more about the person who wrote this website.
  .page-body
    img(src="/images/me.jpg" alt="A picture of me!")
    h3 Hi there!
    p.
      My name is Adam Heins. I'm currently an undergraduate at the University
      of Waterloo studying Mechatronics Engineering. I'm particularly
      interested in computer science, math and robotics.

    h3 Technical Background
    p.
      I like to explore new technologies and put them to use. I enjoy the
      challenge of solving difficult problems and creating interesting things.
      I've had experience working with embedded systems, enterprise, desktop,
      and the web. I'm also a member of Waterloo's robotics team. I've written
      a number of side projects, with a particular focus on math- and
      systems-related tasks. Most of them are open-source and can be viewed
      on #[a.inline(href="https://github.com/adamheins") GitHub]. For more
      details, see my #[a.inline(href="/resume") résumé].

    h3 Other Interests and Activities
    p.
      I enjoy living a balanced, healthy lifestyle. I like hiking, running,
      cycling, and other outdoor activities. I try to explore and try new
      things as much as I can.
    p.
      I like to express my creativity in a variety of ways. I enjoy tinkering
      with electronics, reading, and writing. I also like to participate in
      hackathons to get to do creative stuff with other cool people.
