extends layout

block header
  meta(name="description", content="My blog. I like to write about math, code, robotics and other cool stuff")
  title Adam's Blog

block content
  .page-header
    h1 Blog
    p.
      A collection of my writings and project updates.
      I like to write about cool technologies I see and work on.
  .page-body
    each post in posts
      .post
        a.title.sexy(href= '/blog/' + post.link)= post.title
        .date= post.formatted_date
        p.description= post.description
        .links
          a.inline(href= '/blog/' + post.link) Read Article
