extends layout

block header
  meta(name="description", content="The blog and project site of Adam Heins.")
  title Adam Heins

block content
  .page-header
    h1 Welcome!
    div.
      Welcome to my website, which is home to my personal blog and project portfolio. Take a look around, stay a while.
  .page-body
    h3 Recent Articles
    each article, i in articles
      a.inline.block(href= '/blog/' + article.link)= article.title

    h3 Recent Projects
    a.inline.block(href= 'https://github.com/adamheins/diff') Diff
