extends layout

block header
  meta(name="description", content="Check out some of my side projects.")
  title Adam's Projects

block content
  .page-header
    h1 Projects
    div.
      There is a certain joy in creating something yourself. This page showcases my efforts. Want to
      jump write to the source code? Check out my #[a.inline(href="https://github.com/adamheins") Github page].
  .page-body
    .post
      a.title.sexy(href="http://adamheins.github.io/base-converter/") Base Converter
      p.description.
        A web-app for performing arbitrary base conversions.
      .links
        a(href="https://github.com/adamheins/base-converter") Source on Github
        a.push(href="http://adamheins.github.io/base-converter/") Try it out
    .post
      a.title.sexy(href="http://twodegreesofgibran.herokuapp.com/") Two Degrees of Gibran
      p.description.
        A simple web-app I wrote for the amusement of my coworkers at BlackBerry. One of them, Gibran,
        seemed to know almost everyone at the company. Based on the theory of <a class="inline">
        Six Degrees of Separation</a>, I came up with a similar theory for Gibran: no one at
        BlackBerry should be more than two acquaintances away from him. Written with bootstrap and
        jQuery.
      .links
        a(href="https://github.com/adamheins/two-degrees-of-gibran") Source on Github
        a.push(href="http://twodegreesofgibran.herokuapp.com/") Try it out
    .post
      a.title.sexy(href="http://adamheins.github.io/bootstrap-grid-extension-generator/").
        Bootstrap Grid Extension Generator
      p.description.
        Whew, that title is a mouthful. But at least its descriptive. This Java
        program generates a CSS file that extends bootstrap. I built this based on some of the
        inflexibilities I found with bootstrap's built in grid system. I disliked the fact that it was
        only 12 columns wide. Even with nesting, that still left some problems. This program generates
        CSS for a new, variable column grid that is fully functional with bootstrap. It also allows
        the user to specify other grid properties.
      .links
        a(href="https://github.com/adamheins/bootstrap-grid-extension-generator") Source on Github
        a.push(href="http://adamheins.github.io/bootstrap-grid-extension-generator/") Example
    .post
      a.title.sexy(href="https://github.com/adamheins/biginteger.js") BigInteger.js
      p.description.
        A Javascript library that implements arbitrarily-sized integers. Provides a comprehensize
        collection of integer operations, including arithmetic, exponentiation, and primality
        checking. A web-app that uses this library can be found
        #[a.inline(href="https://github.com/adamheins/primality-checker") here].
      .links
        a(href="https://github.com/adamheins/biginteger.js") Source on Github
    .post
      a.title.sexy(href="https://github.com/adamheins/primality-checker") Primality Checker
      p.description.
        A small web-app that uses my #[a.inline(href="https://github.com/adamheins/biginteger.js") BigInteger.js library]
        to check the primality of any integer. Written with bootstrap and
        jQuery.
      .links
        a(href="https://github.com/adamheins/primality-checker") Source on Github
        a.push(href="http://adamheins.github.io/primality-checker/") Try it out
    .post
      a.title.sexy(href="https://github.com/adamheins/calculator") Calculator
      p.description.
        A text-based scientific calculator written in Java. Uses the #[a.inline(href="http://www.apfloat.org/apfloat_java/") Apfloat library]
        for high accuracy
        numbers and calculations. Parses the input text and uses the shunting-yard algorithm to
        convert to postfix notation before evaluating.
      .links
        a(href="https://github.com/adamheins/calculator") Source on Github
        //-a(href="") Download the executable jar
    .post
      a.title.sexy(href="https://github.com/adamheins/diff") Diff
      p.description.
        A Java command line tool for evaluating and differentiating mathematical functions.
      .links
        a(href="https://github.com/adamheins/diff") Source on Github
    .post
      a.title.sexy(href="https://github.com/adamheins/moodfeed") Moodfeed
      .subtitle In progress
      p.description.
        A web-app written using the Facebook Javascript SDK. The app parses the user's wall posts in
        search of happy and sad emoticons to determine the overall mood of the wall. It originally
        parses the newsfeed (hence the name), but Facebook has some very tight restrictions on reading
        the newsfeed. A good experience using a powerful social media API, and also a fun dabble in
        pure CSS drawing. Currently pending approval from Facebook.
      .links
        a(href="https://github.com/adamheins/moodfeed") Source on Github
