extends ../layout

block header
  meta(name="description", content="Successful user authentication.")
  title Authentication Successful

block content
  .page-header
    h1 Success
    p You have successfully authenticated.
