$primary-color: #333;
$primary-color-light: #666;
$highlight-color: #39b1a4;
$highlight-color-light: #48e5d4;
$nav-border-color: #ccc;


html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
}

@media (max-width: 750px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

body {
  color: $primary-color-light;
  height: 100%;
  margin: 0;
}

/* Contains all content on a page. */
.container {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0 auto 0 auto;
  min-height: 100%;
  padding-bottom: 9rem;
  padding-top: 1.5rem;
  position: relative;
  width: 700px;

  a {
    text-decoration: none;
  }

  a.sexy {
    transition: color 0.5s ease;
  }

  a.sexy:hover {
    color: $highlight-color !important;
  }

  /* Style for the static page header. */
  .header {
    text-align: center;

    .brand {
      margin-bottom: 2rem;
    }

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .name {
      color: $primary-color-light;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.9rem;
      font-weight: 300;
    }

    .flavour {
      color: $highlight-color;
      font-size: 1rem;
    }

    .nav-bar {
      border-bottom: 1px solid $nav-border-color;
      border-top: 1px solid $nav-border-color;
      font-weight: 300;
      margin-top: 2rem;
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;

      a {
        color: $primary-color-light;
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem 1.25rem;
      }
    }
  }

  /* Page content */
  .content {
    margin-bottom: 3rem;
    margin-top: 4rem;

    p {
      margin-bottom: 0.7rem
    }

    /* Formats the element as a block. */
    .block {
      display: block;
    }

    /* Pushes inline content over by a fixed amount. */
    .push {
      margin-left: 1.4rem;
    }

    /* Format for math displayed on a page. */
    .math-block {
      text-align: center;
      font-size: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    /* Format for a block of code. */
    .code {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    a.inline {
      color: $highlight-color;
      transition: color 0.5s ease;
    }

    a.inline:hover {
      color: $highlight-color-light !important;
    }

    h1 {
      color: $primary-color;
      font-family: inherit;
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
    }

    h2 {
      color: #555;
      font-weight: 400;
      font-size: 1.75rem;
      margin-top: 1.4rem;
      margin-bottom: 0.75rem;
    }

    h3 {
      color: #555;
      font-weight: 400;
      font-size: 1.25rem;
      margin-top: 1.4rem;
      margin-bottom: 0.75rem;
    }

    .page-header {
      margin-bottom: 1.35rem
    }

    .page-body {
      margin-top: 3rem
    }

    .article-date {
      color: $primary-color-light;
      font-size: 0.9rem;
    }

    .article-flavour {
      margin-bottom: 1.35rem;
      margin-top: 0.35rem;
    }

    /* Style of a post on a page of posts. */
    .post {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;

      .title {
        color: #555;
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.35rem;
      }

      .date {
        color: #999;
        font-size: 0.9rem;
        margin-bottom: 0.35rem;
      }

      .description {
        color: $primary-color;
        margin-top: 0;
        margin-bottom: 0;
      }

      .links {
        margin-bottom: 0.35rem;
        margin-top: 0.35rem;

        a {
          @extend a.inline;
        }
      }
    }
  }

  /* Style for the page footer. */
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.5rem;
    margin: auto;
    text-align: center;

    /* Style for the block of contact links in the page footer. */
    .contact {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    /* Style for the copyright notification in the page footer. */
    .credit {
      font-size: 0.8rem;
      font-weight: 300;
    }

    /* Contact link symbol. */
    .symbol {
      transition: color 0.5s ease;
      color: $primary-color-light;
      margin-left: 0.35rem;
      margin-right: 0.35rem;
    }

    .symbol:hover {
      color: $highlight-color;
    }
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}
