extends ../../layout

block header
  meta(name="description", content="A pretty shot to celebrate the Blue Jays.")
  title Blue Jays Shot

block content
  article
    section
      h1 Blue Jays Shot
      p.
        A pretty shot to celebrate the Blue Jays.
      .img-wrapper
        img(src="#{process.env.STATIC_HOST}/img/drinks/blue-jays-shot.jpg",
          alt="The Blue Jays Shot.")
        p.caption.
          The Blue Jays Shot.
    section
      h2 Ingredients
      ul.bare
        li Vodka
        li Blue Curaçao
        li Milk
        li Grenadine
    section
      h2 Equipment
      ul.bare
        li #[strong 1] Shot Glass
    section
      h2 Yield
      p One drink.
    section
      h2 Steps
      ol.bold
        li.
          Mix milk and vodka in about equal parts. Pour into shot glass until
          it is about half full.
        li.
          Carefully pour some grenadine down the side of the glass. It will
          collect at the bottom to give the red layer.
        li.
          Mix blue curaçao and vodka, again about equal parts. Carefully use a
          spoon to layer the blue layer on top of the white layer.
    section
      h2 Notes
      p The ratio of vodka to milk and blue curaçao can be varied as desired.
      p Other clear alcohols can be substituted for vodka.
