extends ../../layout

block header
  meta(name="description", content="Refresh yourself with this multishot drink.")
  title Gin Blitz

block content
  article
    section
      h1 Gin Blitz
      p.
        Refresh yourself with this multishot drink.
    section
      h2 Ingredients
      ul.bare
        li #[strong 1.5 oz] Gin
        li #[strong 1.5 oz] Dry Vermouth
        li #[strong 1.5 oz] Tonic Water
    section
      h2 Equipment
      ul.bare
        li #[strong 3] Shot Glasses
    section
      h2 Yield
      p One drink.
    section
      h2 Steps
      ol.bold
        li Pour one shot glass each of gin, vermouth, and tonic water.
        li Line up glasses with gin first, vermouth next, and tonic last.
        li.
          Drink in that order, rapidly. Each drink acts as a chaser for the one
          preceding it.
    section
      h2 Notes
      p.
        A combination of two classic gin drinks, the martini and the G&T, in
        shot form. This drink is exciting and quite refreshing, while packing
        a fair punch.
