extends ../../layout

block header
  meta(name="description", content="Recipes for drinks.")
  title Adam Heins - Drinks

block content
  article
    section
      h1 Drink Recipes
      p.
        My collection of drink recipes.
    section
      ul.bare
        li #[a(href="/recipes/drinks/gin-blitz") Gin Blitz]
        li #[a(href="/recipes/drinks/blue-jays-shot") Blue Jays Shot]
