extends ../../layout

block header
  meta(name="description", content="Cnosole for creating new blog posts.")
  title Console
  style.
    label, input {
      display: block;
    }
    .page-body div {
      margin-bottom: 1rem;
    }

block content
  .page-header
    h1 Console
    p Let's get blogging.
  .page-body
    form(action="/admin/blog/create/save", method="POST")
      div
        label(for="title") Title
        input(name="title", id="title", type="text")
      div
        label(for="description") Description
        textarea(name="description", id="description", type="text", rows="2")
      div
        label(for="flavour") Flavour
        input(name="flavour", id="flavour", type="text")
      div
        label(for="body") Body
        textarea(name="body", id="body", type="text", rows="15")
      div
        label(for="link") Link
        input(name="link", id="link", type="text")
      button.submit(type="submit") Save
      button.submit.push Save as Draft
      button.cancel.right(type="submit", formaction="/admin/blog", formmethod="POST") Cancel
      button.submit.block Download
