extends ../../layout

block header
  meta(name="description", content="Console for creating new blog posts.")
  title Console

  link(rel="stylesheet", href="/style/min/blog-view.min.css")

block content
  .page-header
    h1 Console
    p Let's get blogging.
  .page-body
    form(action="/admin/blog/create/save", method="POST")
      div
        label(for="title") Title
        input(name="title", id="title", type="text")
      div
        label(for="description") Description
        textarea(name="description", id="description", type="text", rows="2")
      div
        label(for="flavour") Flavour
        input(name="flavour", id="flavour", type="text")
      div
        label(for="body") Body
        textarea(name="body", id="body", type="text", rows="15")
      div
        label(for="link") Link
        input(name="link", id="link", type="text")
      div
        label(for="scripts") Scripts
        textarea(id="scripts", name="scripts", type="text", rows="3")
      div
        label(for="styles") Styles
        textarea(id="styles", name="styles", type="text", rows="3")
      button.submit(type="submit") Save
      button.submit.push Save as Draft
      button.cancel.right(type="submit", formaction="/admin/blog", formmethod="POST") Cancel
      button.submit.block Download
