extends ../../layout

block header
  meta(name="description", content="Administrative blogging tool.")
  title Blogger

block content
  .page-header
    h1 Blogger
    p View, edit, and create blog articles.
  .page-body
    section
      h2.title
        a(href="/admin/blog/create") Create
      p.description Create a new article.
      .links
        a(href="/admin/blog/create") Create
    section
      h2.title Load
      p.description Load an unpublished draft of an article.
      form(action="/admin/blog/create", method="post")
        input.block(name="link", type="text", placeholder="Draft Link")
        button.btn.link(type="submit") Load
    section
      h2.title Edit
      p.description View and edit an existing article.
      form(action="/admin/blog/edit", method="post")
        input.block(name="link", type="text", placeholder="Article Link")
        button.btn.link(type="submit") Edit
