extends ../../layout

block header
  meta(name="description", content="Administrative blogging tool.")
  title Blogger

block content
  .page-header
    h1 Blogger
    p View, edit, and create blog articles.
  .page-body
    .post
      a.title.sexy(href="/admin/blog/create") Create
      p.description Create a new article.
      .links
        a(href="/admin/blog/create") Go
    .post
      a.title.sexy Edit
      p.description View and edit existing articles.
      form(action="/admin/blog/view", method="POST")
        input.block(name="link", type="text", placeholder="Article Link")
        button.link(type="submit") View and Edit
