extends ../layout

block header
  meta(name="description", content="Recipes for cooking and baking.")
  title Adam Heins - Recipes

block content
  article
    section
      h1 Recipes
      p.
        This is a collection of recipes I like to use. They have been adapted
        from a variety of sources, and references will be provided where
        applicable.
    section
      h2 Food
      ul.bare
        li #[a(href="/recipes/bread") Bread]
        li #[a(href="/recipes/no-regrets-french-toast") No Regrets French Toast]
    section
      h2 Drinks
      ul.bare
        li #[a(href="/recipes/gin-blitz") Gin Blitz]
