extends ../layout

block header
  meta(name="description", content="Landing page from which to view my résumé.")
  title Adam Heins

block scripts
  script(src="/js/json-resume.js")

block content
  .page-header
    h1 Résumé
    p.
      My résumé is available in a couple of different formats, which can be
      found below. The current formats are PDF and JSON.
    h3 PDF
    p.
      This is my standard résumé. Check it out #[a(href="/resume/pdf") here].
    h3 JSON
    p.
      This is my résumé written in JSON. Stripped of all the formatting, it's
      just the raw data left. It can be viewed #[a(href="/resume/json") here].
      You can also play with my résumé as a JavaScript object in the console,
      where it is a global variable named #[i resume].
