extends layout

block header
  meta(name="description", content="The blog and project site of Adam Heins.")
  title Adam Heins

block content
  article
    section
      h1 Welcome
      p.
        Welcome to my website, which is home to my personal blog and project
        portfolio. Take a look around, stay a while. If you want to get in touch,
        send me an email at
        #[a(href="mailto:mail@adamheins.com") mail@adamheins.com].
      p.
        The code for this website is open source and can be viewed
        #[a(href="https://github.com/adamheins/personal-website") here].
    section
      h2 Recent Articles
      .article-flavour The latest articles from my blog.
      ul
        each article in articles
          li
            a(href= "/blog/" + article.link)= article.title
    section
      h2 Recent Projects
      .article-flavour Some of the personal projects I've been working on lately.
      ul
        li
          a(href="https://github.com/adamheins/f") f
        li
          a(href="https://github.com/adamheins/stercus") Stercus
        li
          a(href="http://adamheins.github.io/predator-prey-sim/").
            Predator Prey Simulation
    section
      h2 Other Links
      .article-flavour Additional miscellaneous pages.
      ul
        li
          a(href="/tools") Tools
        li
          a(href="https://github.com/adamheins/dotfiles") Dotfiles
        li
          a(href="/pgp") PGP
