extends layout

block header
  meta(name="description", content="The blog and project site of Adam Heins.")
  title Adam Heins

block content
  article
    section
      h1 Welcome
      p.
        Welcome to my website, which is home to my blog and project portfolio.
        If you want to get in touch, send me an email at
        #[a(href="mailto:mail@adamheins.com") mail@adamheins.com].
      p.
        The code for this website can be viewed
        #[a(href="https://github.com/adamheins/personal-website") here].
    section
      h2 Recent Articles
      p The latest articles from my blog.
      ul.bare
        each article in articles
          li
            a(href= "/blog/" + article.link)= article.title
    section
      h2 Recent Projects
      p Some of the projects I've been working on lately.
      ul.bare
        li
          a(href="https://github.com/adamheins/f") f
        li
          a(href="https://github.com/adamheins/stercus") Stercus
        li
          a(href="https://github.com/adamheins/predator-prey-sim").
            Predator Prey Simulation
    section
      h2 Other Links
      p Additional miscellaneous pages.
      ul.bare
        li
          a(href="/tools") Tools
        li
          a(href="https://github.com/adamheins/dotfiles") Dotfiles
        li
          a(href="https://github.com/adamheins/.vim") Vim Configuration
        li
          a(href="/pgp") PGP
