extends ../layout

block header
  meta(name="description", content="Some of the projects I've worked on.")
  title Adam Heins - Projects

block content
  article
    section
      h1 Projects
    section
      h2
        a(href="https://github.com/adamheins/fractals") Fractals
      p.description.
        A collection of fractals written using JavaScript and HTML5 canvas.
    section
      h2
        a(href="http://github.com/adamheins/predator-prey-sim/").
          Predator Prey Simulation
      p.description.
        A web-based simulation of flocking birds being hunted by predators,
        displaying swarm intelligence.
    section
      h2
        a(href="https://github.com/adamheins/half-fit") Half-fit
      p.description.
        A real-time dynamic memory allocator. Written for a school project. A
        paper discussing half-fit in detail can be found
        #[a(href="https://people.kth.se/~roand/half_fit.pdf") here].
    section
      h2
        a(href="https://github.com/adamheins/f") f
      p.description.
        A simple command line utility for aliasing your favourite files,
        directories, and git branches.
    section
      h2
        a(href="https://github.com/adamheins/dervish") Dervish
      p.description.
        A command line tool for evaluating and differentiating mathematical
        functions symbolically. Written in Java.
    section
      h2
        a(href="https://github.com/adamheins/multicell") Multicell
      p.description.
        A curses-based version of Conway's Game of Life that allows for
        multiple species of cell, written in Python.
    section
      h2
        a(href="https://github.com/adamheins/stercus") Stercus
      p.description.
        An esoteric programming language inspired by brainfuck. Compiles to C.
    section
      h2
        a(href="https://github.com/adamheins/mtrx") mtrx
      p.description.
        A linear algebra library written in C.
    section
      h2
        a(href="https://github.com/adamheins/pebble-watchface-template").
          Pebble Watchface Template
      p.description.
        A starting template for Pebble watchfaces that makes it easy to build
        custom animations.
    section
      h2
        a(href="https://github.com/adamheins/biginteger.js") BigInteger.js
      p.description.
        A Javascript library that for arbitrarily-sized integer mathematics.
        A web app that uses this library can be found
        #[a(href="https://github.com/adamheins/primality-checker") here].
    section
      h2
        a(href="https://github.com/adamheins/primality-checker").
          Primality Checker
      p.description.
        A small web app that uses my
        #[a(href="https://github.com/adamheins/biginteger.js") BigInteger.js]
        library to check the primality of any integer.
    section
      h2
        a(href="https://github.com/adamheins/base-converter") Base Converter
      p.description.
        A #[a(href="https://adamheins.com/projects/base-converter") web app]
        for performing arbitrary base conversions. A command line version can
        be found #[a(href="https://github.com/adamheins/base") here].
