extends ../layout

block header
  meta(name="description", content="Check out some of my side projects.")
  title Projects

block content
  .page-header
    h1 Projects
    p.
      There is a certain joy in creating something yourself. This page showcases
      my efforts. Want to jump write to the source code? Check out my
      #[a(href="https://github.com/adamheins") GitHub page].
  .page-body
    .content-block
      a.title.sexy(href="https://github.com/adamheins/dervish") Dervish
      p.description.
        A Java command line tool for evaluating and differentiating
        mathematical functions symbolically.
      .links
        a(href="https://github.com/adamheins/dervish") Source
    .content-block
      a.title.sexy(href="http://adamheins.github.io/predator-prey-sim/") Predator Prey Simulation
      p.description.
        A web-based simulation of flocking birds being hunted by predators,
        displaying swarm intelligence.
      .links
        a(href="https://github.com/adamheins/predator-prey-sim") Source
        a.push(href="http://adamheins.github.io/predator-prey-sim/") Try it
    .content-block
      a.title.sexy(href="https://github.com/adamheins/multicell") Multicell
      p.description.
        A curses-based version of Conway's Game of Life that allows for
        multiple species of cell, written in Python.
      .links
        a(href="https://github.com/adamheins/multicell") Source
    .content-block
      a.title.sexy(href="https://github.com/adamheins/mtrx") mtrx
      p.description.
        A linear algebra library written in C.
      .links
        a(href="https://github.com/adamheins/mtrx") Source
    .content-block
      a.title.sexy(href="https://github.com/adamheins/biginteger.js") BigInteger.js
      p.description.
        A Javascript library that for arbitrarily-sized integer mathematics.
        A web app that uses this library can be found
        #[a.(href="https://github.com/adamheins/primality-checker") here].
      .links
        a(href="https://github.com/adamheins/biginteger.js") Source
    .content-block
      a.title.sexy(href="https://github.com/adamheins/primality-checker") Primality Checker
      p.description.
        A small web app that uses my
        #[a.(href="https://github.com/adamheins/biginteger.js")
          BigInteger.js library] to check the primality of any integer.
      .links
        a(href="https://github.com/adamheins/primality-checker") Source
        a.push(href="http://adamheins.github.io/primality-checker/") Try it
    .content-block
      a.title.sexy(href="http://baseconverter.io") Base Converter
      p.description.
        A web app for performing arbitrary base conversions.
      .links
        a(href="https://github.com/adamheins/base-converter") Source
        a.push(href="http://baseconverter.io") Try it
    .content-block
      a.title.sexy(href="http://twodegreesofgibran.herokuapp.com/") Two Degrees of Gibran
      p.description.
        The number of degrees of freedom that you have from Gibran.
      .links
        a(href="https://github.com/adamheins/two-degrees-of-gibran") Source
        a.push(href="http://twodegreesofgibran.herokuapp.com/") Try it
    .content-block
      a.title.sexy(href="http://adamheins.github.io/bootstrap-grid-extension-generator/").
        Bootstrap Grid Extension Generator
      p.description.
        Java desktop app that generates CSS for a new bootstrap grid with an
        arbitrary number of columns.
      .links
        a(href="https://github.com/adamheins/bootstrap-grid-extension-generator") Source
        a.push(href="http://adamheins.github.io/bootstrap-grid-extension-generator/") Example
    .content-block
      a.title.sexy(href="https://github.com/adamheins/calculator") Calculator
      p.description.
        A text-based scientific calculator written in Java.
      .links
        a(href="https://github.com/adamheins/calculator") Source
    .content-block
      a.title.sexy(href="https://github.com/adamheins/moodfeed") Moodfeed
      p.description.
        Web app that uses the Facebook SDK to parse a users newsfeed to determine its mood.
      .links
        a(href="https://github.com/adamheins/moodfeed") Source
