extends ../layout

block header
  meta(name="description", content="A collection of my writings and project updates. I like to write about technology, engineering, and life.")
  title Blog

block content
  article
    section
      h1 Blog
      p.
        A collection of my writings and project updates. I like to write about
        technology, engineering, and life.
    section
      each article in articles
        section
          h2
            a(href= '/blog/' + article.link)= article.title
          .date= article.formattedDate
          p.description= article.description
