extends ../layout

block header
  meta(name="description", content="My blog. I like to write about math, code, robotics and other cool stuff.")
  title Blog

block content
  .page-header
    h1 Blog
    p.
      A collection of my writings and project updates. I like to write about
      technology, engineering, and life.
  .page-body
    each article in articles
      .post
        a.title.sexy(href= '/blog/' + article.link)= article.title
        .date= article.formattedDate
        p.description= article.description
        .links
          a.inline(href= '/blog/' + article.link) Read Article
