extends /includes/layout

block header
  meta(name="description", content="A non-exhaustive list of tools I find useful.")
  title Adam Heins - Tools

block content
  article
    section
      h1 Tools
      p A non-exhaustive list of tools I find useful.
      section
        h2 Command Line
        ul.bare
          li.
            #[a(href="https://github.com/adamheins/base") base] - A base
            converter.
          li.
            #[a(href="https://github.com/sharkdp/bat") bat] - Replaces cat.
          li.
            #[a(href="http://cscope.sourceforge.net/") Cscope] - A code search
            tool for C and other languages.
          li.
            #[a(href="https://the.exa.website") exa] - Replaces ls.
          li.
            #[a(href="https://github.com/sharkdp/fd") fd] - A modern alternative
            to find.
          li.
            #[a(href="https://github.com/junegunn/fzf") fzf] - A fuzzy-finder
            for files and directories.
          li.
            #[a(href="http://hisham.hm/htop") htop] - Replaces top.
          li.
            #[a(href="https://httpie.org") HTTPie] - A HTTP client.
          li.
            #[a(href="https://www.jefftk.com/icdiff") icdiff] - Replaces diff.
          li.
            #[a(href="https://insect.sh") insect] - A scientific calculator and
            unit converter.
          li.
            #[a(href="https://mosh.mit.edu/") mosh] - A robust replacement for
            ssh.
          li.
            #[a(href="https://dev.yorhel.nl/ncdu") ncdu] - Disk usage analyser;
            replaces du.
          li.
            #[a(href="https://neovim.io/") neovim] - A text editor.
          li.
            #[a(href="http://www.passwordstore.org/") pass] - A local password
            manager based on gpg.
          li.
            #[a(href="https://github.com/BurntSushi/ripgrep") ripgrep] - A text
            search tool.
          li.
            #[a(href="https://jonas.github.io/tig/") tig] - A git repository
            browser.
          li.
            #[a(href="https://tldr.sh") tldr] - Simple command documentation.
          li.
            #[a(href="https://github.com/jwiegley/una") una] - A universal
            unarchiver.
          li.
            #[a(href="http://www.zsh.org/") zsh] - A shell.

      section
        h2 (Neo)vim Plugins
        ul.bare
          li.
            #[a(href="https://github.com/ntpeters/vim-better-whitespace") better-whitespace]
            - Highlights trailing whitespace and makes it easy to remove.
          li.
            #[a(href="http://cscope.sourceforge.net/cscope_vim_tutorial.html") Cscope]
            - A plugin for the code search tool mentioned above.
          li.
            #[a(href="https://github.com/kien/ctrlp.vim") ctrlp] - File search plugin.
          li.
            #[a(href="http://www.vim.org/scripts/script.php?script_id=2590") fswitch] -
            Toggles between C header and source files.
          li.
            #[a(href="https://github.com/airblade/vim-gitgutter") gitgutter] - Shows
            a git diff in the page gutter.
          li.
            #[a(href="https://github.com/Shougo/neocomplete.vim") neocomplete] -
            Autocompletion engine that is very easy to set up.
          li.
            #[a(href="https://github.com/scrooloose/nerdtree") NERDTree] - Nice
            directory browsing.
          li.
            #[a(href="https://github.com/jeffkreeftmeijer/vim-numbertoggle") numbertoggle]
            - Toggle line numbers between absolute and relative mode.
          li.
            #[a(href="https://github.com/vim-scripts/tComment") tComment] -
            Provides shortcuts for commenting out blocks of code.
