extends /includes/layout

block header
  meta(name="description", content="I like writing, and this is where I put some of it.")
  title Adam Heins - Blog

block content
  article
    section
      h1 Blog
    section.group
      each article in articles
        section.item
          h2
            a(href= host + "/blog/" + article.link)= article.title
          .date= article.prettyDate
          p.description= article.description
