extends /includes/layout

block header
  meta(name="description", content="A collection of my writings and project updates. I like to write about technology, engineering, and life.")
  title Adam Heins - Blog

block content
  article
    section
      h1 Blog
    each article in articles
      section
        h2
          a(href= 'blog/' + article.link)= article.title
        .date= article.prettyDate
        p.description= article.description
