extends /includes/bones

block header
  meta(name="description", content="Encrypt a PGP message for Adam.")
  title Adam Heins - Encrypt

block scripts
  script(src=staticHost + "/js/openpgp.js")
  script(src=staticHost + "/js/encrypt.js")

block content
  h1 Encrypt
  p.
    Enter a message in the text box and press the Encrypt button to
    generate an encrypted message which only Adam can decrypt. Copy it and
    send it without risk of it being read by third parties.
  textarea(id="message" cols="60" rows="20" placeholder="Enter message...")
  div(style="margin-top: 1rem")
    button(id="encryptBtn") Encrypt

