extends /includes/layout

block header
  meta(name="description", content="My PGP key.")
  title Adam Heins - PGP

block styles
  link(rel="stylesheet", href=staticHost + "/css/prism.css")

block scripts
  script(src=staticHost + "/js/prism.js")

block content
  article
    section
      h1 PGP
      p.
        Here is my PGP public key. It can also be found on most
        #[a(href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x8393976BCE8F5796") key servers]
        and #[a(href="https://keybase.io/adamheins") Keybase]. You can encrypt
        a message for me #[a(href="https://keybase.io/encrypt#adamheins") here].
    section
      pre
        code.language-none.
          -----BEGIN PGP PUBLIC KEY BLOCK-----
          Version: GnuPG v1

          mQINBFYtqdoBEAC8R/+0RyEk6wCCaV/f/k2pDxaQDbjj/hnNTD8LByWi08NfnhrX
          eNwIk562tm1AOcUXTFdMiSeWiMrgPzFJYB6duXttM/lAxBREpYLa2aawVVLuL9Vj
          5/v/OgVmt4KVHe0HmEDzLueIvdRywM9Myz4UL+XpseJNQRUbH6jidUr+JP5Cf2Lj
          oZ6oiUdm5Q/UsSNLtmOU2Ba3zZyo8ckb/OxAYZXdHq1KHG7icxB/286Tf92gPRTz
          10naZm/pGVHs/uap3TEleyIPa+aw7eDG+IQClTIYJgJWDk9wih0cVEU1h9wacvx4
          bYixwrhOUBZpO61Hrgwq6lBGrWWyicUK+nRfW8rypLaWo3LYbxX3Ta+nAR93gxEK
          +AhreuvfcLqm3pVsdrO4LwfEOJmYJFKWGKYveMHllrxi+Th5Fn1n915Mu8y6e99x
          UeXPLKEKZ7NdwY2n9b/9Wp6AGNs5yoOhK/etd+Kgsx9AIJrHT/eirh0ydCn8CxSn
          vaip37d9xh18804ZeuHbouFl8P+cNOjvbmxY9yb5wMO7d1MqvK8tQGWOeRZzCmjG
          rni4+J8awosP2Nr5m3w8tE0xg8B9q6cR1vfvsKRMxVWQZJF0Tx3/w5SXgBUIva5f
          ++Yq8nwtXTWV0eMVRiXvZietpScZw2EIsE+SCVX2sdpkhnFe5z/pO/gPsQARAQAB
          tB9BZGFtIEhlaW5zIDxtYWlsQGFkYW1oZWlucy5jb20+iQI4BBMBAgAiBQJWLana
          AhsDBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRCDk5drzo9Xlh3GD/0ZvJnI
          3Wu7X8HNt15+J7smKz/M4Fq+h8+G6s95/lC0Ai+1kocIWKxtKDuYv7xHbAIf3BYm
          Ye2D5t5SlUUyllWsmzkXtfpju7U/322fFVBNMImmthMv1kxHuSfJlkCwHK9PohXL
          BPcIKFSCSqJZMTeXjOR35WNSCFaSJfNNr4D9YpIQWwxh6Aq5E8pvu7ngxiJiZ2Vg
          Zydd48qmX4D288yA9d+8hrUHNNu7FbW1lbtIh7sIZ+GNB8Oc2bZWIC/WsF512/8y
          3hVL+XODllt9mhjwknR4/JLHAc2vmX7jAOYcegDiZX7S1EKRD3oSqETnMFWdNuGk
          2rE+M1Jhi+NV9epkZj8GzwLBUuNkPOKzS7OjyFQF7Mh8xBkfvvDCToyc2XqKNa3u
          g5mVc8NYLXC/JaCnSG7/96M2ztA+RL8yc+pO82dTtGCJBkRqu4lpiCqa1ZkQvk/w
          geochz16Y6Qa/h2AjqERhiRC4zqpr9/W631x8K4Cp5JdwMEGMY3QpExK4YWKWsbo
          UJ9vfNbJs4OdGBsYbnG7nXOAlfv4vP50A6t1liZ3FckdmFGadP4cNN716TPnIVYg
          slCFo5dHVX3PzKbs0Wo/TkLP+3ga/E689mWCbJGtFnEAo8ZnyhFjmBRe/uyj/d6G
          MAgx9cFwAttU4u9UHZvffo31Ihy558JXi5V3XLkCDQRWLanaARAA7XfnybXMCOsB
          hMo+2mWj/5/HLjkOAlcu3pBDUAJuPzGXHk4Meo20Z3fEi4GW+veyLDNn7U+YKDwF
          fA12RwQj20HiWJQO1WYPuBG5RbkFmqrzcTpykFqGN+IKFzlJSG31r5+ZElZsYngK
          MXAjPV6gtJ3q0v2S1AzXri6FiSqgvpudFloHI78kNZrvfATiHrsL9saD8InfKTy7
          s8UVhISU33c263L+J0YirmidrDzP68oGNo4a8XvGuTwgktQ8PxIXJJjAOxKGzt3E
          zuurZns1iBjQ4a8javgzFJxb2SiI+oOyymQQ/fU27CpwazN3Z3Blq/x5ChLqBA7d
          7JpcNBxzohCxgGYQWMjSQiAvOZpNhvrzDyAsNmzYnK+W86U9iNpNbOZgNXYT5eqQ
          RM+qxfDKvk8EtYDlsOeov04i91Zyl5iy22+XkPPuhYHGacJj619PxgdT26Uu3KiY
          fh0m33TR/etXXXlIs2AK+e0yFrWzjlKsVaFPcO7IOBxKeeKU0mfGKfNya10CHwOb
          DV2y5C0VUgN9GLF2ZJS/6nENqZwjIao/i3bXB8nxVPetYxEt49X5hWMN0K40yBgr
          6BZQyFxOacKul0ogTlyGGo3jjZBF6MaADO1fz+7UdybPvGHDgnl2WuHLJYGHDaZf
          RHHgAqrRzA2kQGn2QHbWV5xclKhwV5kAEQEAAYkCHwQYAQIACQUCVi2p2gIbDAAK
          CRCDk5drzo9Xlt2LD/9NbYmmuGrwtFfi4uQ8hQqrXYr//VUzZ0OyQKa4ngBSEjmY
          k9uZ8cbUJ9VFu9DSLbkOXsC7RlbW/tga5zwuoneP8nzXQv69L3hZevBiW1kIU439
          fLsTxcpqB2k36Qvr1aerLxQF1/AmzAXDVEFmv5SqCcydSyUoymwCtSPs37F6ATn1
          Ak9GpcmWlO/ld9xe64pyrRyv9X0+DlaaImDspTW3rL6gnsR2bk8bmDyp4cuQa76Q
          O491b/6DcG+mthQegI9/TxCIF0g0yglz1TYf6m5kDNTLpIl/cgo05ZO0fNcRW8c4
          xf1WgTfjtCLmBP6fIAEXAfyOgJEvgE21DZaGu8HyayrQUXSxRwm1XP3Osbs/h7lD
          KveiWMCA7LdDwCrRkARG6aRk0xFTF0CXiaGl83SWmmfBHmjwS6FbU8SxB43/pYB9
          TrsA5xtvPNKSKVGQfa8AT+usw9sJxBVbb5fjR22hMUzDHeVrB6M78CEKe5f6mqqq
          1Ue9AmksTpAWhv/42DdUB59NdpqZAC5LTLmZ8/1HcAnggf+CSqLq8ty+iwYUDejG
          qz1EP2cik+IGwZv6jqy5huXwumS+hCwBjh3zwY8UP7hoDO1oQ8NYPlmoaea+LBRm
          K+CGag1UpWNMzkGuYC0/fqI4Z4rEQV3H0H1i+Nl5Rn6fisL/e0w70GZV8OnNKw==
          =3OFq
          -----END PGP PUBLIC KEY BLOCK-----

