extends /includes/layout

block header
  meta(name="description", content="My PGP key.")
  title Adam Heins - PGP

block content
  article
    section
      h1 PGP
      p.
        My PGP public key can be found
        #[a(href="https://static.adamheins.com/pubkey.asc") here]. It can also
        be found on most
        #[a(href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x8393976BCE8F5796") key servers]
        and #[a(href="https://keybase.io/adamheins") Keybase]. You can encrypt
        a message for me #[a(href="https://keybase.io/encrypt#adamheins") here].
