extends ../layout

block header
  meta(name="description", content="Adminstration.")
  title Administration

block content
  .page-header
    h1 Administration
    p Administrative tools and tasks.
  .page-body
    .post
      a.title.sexy(href="/admin/blog") Blogger
      p.description View, edit and create new blog posts.
      .links
        a.inline(href="/admin/blog") Go

