extends ../layout

block header
  meta(name="description", content="Admin portal.")
  title Admin

block content
  .page-header
    h1 Admin
    p Admin portal.
  .page-body
    h3 Blogging Tool
    p Use this tool to view, edit and create new blog posts.
    a.inline(href="/admin/blog") Get blogging

