extends ../layout

block header
  meta(name="description", content="Find out more about me.")
  title Adam Heins - About

block content
  article
    section
      h1 About
      p.
        My name is Adam. I'm a fourth-year student at the University of
        Waterloo studying Mechatronics Engineering. I'm particularly
        interested in embedded systems and robotics.
    section
      section
        h2 Technical
        p.
          I enjoy the challenge of solving difficult problems and creating
          interesting things. I've had experience working with embedded
          systems, enterprise, desktop, and the web. You can check out many of
          my projects on #[a(href="https://github.com/adamheins") GitHub].  For
          more details, see my #[a(href="/resume") résumé].
      section
        h2 Interests
        p.
          My current hobbies include running, cooking, and reading. I also
          enjoy coffee and classical music.
      section
        h2 Contact
        p.
          The best way to get in touch with me is through
          #[a(href="mailto:mail@adamheins.com") email]. Feeling insecure?
          Encrypt the message with my #[a(href="/pgp") PGP key].
