extends /includes/layout

block header
  meta(name="description", content="A 404 error has occurred.")
  title 404 Not Found

block content
  h1 404 Not Found
  p.
    The page you requested could not be found. Try heading back to the
    #[a(href=host) homepage].
