$primary-color: #333;
$primary-color-light: #666;
$highlight-color: #39b1a4;
$highlight-color-light: #48e5d4;
$nav-border-color: #ccc;


html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
}

@media (max-width: 750px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

body {
  color: $primary-color-light;
  height: 100%;
  margin: 0;
}

/* Contains all content on a page. */
.container {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0 auto 0 auto;
  min-height: 100%;
  padding-bottom: 9rem;
  padding-top: 1.5rem;
  position: relative;
  width: 700px;

  a {
    text-decoration: none;
  }

  h1 {
    color: $primary-color;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
  }

  // Account-related links
  .account {
    a.auth {
      font-size: 0.9rem;
      color: $highlight-color;
      transition: color 0.5s ease;
    }

    a.auth:hover {
      color: $highlight-color-light !important;
    }

    .signin {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
    }

    .username {
      font-size: 0.9rem;
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
    }
  }

  // Page header.
  .header {
    text-align: center;

    .brand {
      margin-bottom: 2rem;

      .name {
        color: $primary-color-light;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.9rem;
        font-weight: 300;
        margin: 0;
      }

      .flavour {
        color: $highlight-color;
        font-size: 1rem;
      }
    }

    // Navigation bar.
    nav {
      border-bottom: 1px solid $nav-border-color;
      border-top: 1px solid $nav-border-color;
      font-weight: 300;
      margin-top: 2rem;
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;

      a {
        color: $primary-color-light;
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem 1.25rem;
        transition: color 0.5s ease;
      }

      a:hover {
        color: $highlight-color;
      }
    }
  }

  /* Page content */
  .content {
    margin-bottom: 3rem;
    margin-top: 4rem;

    p {
      margin-bottom: 0.7rem
    }

    a {
      color: $highlight-color;
      transition: color 0.5s ease;
    }

    a:hover {
      color: $highlight-color-light;
    }

    /* Formats the element as a block. */
    .block {
      display: block;
    }

    /* Makes the element have extra emaphasis. */
    .emphasized {
      font-weight: 400;
    }

    /* FLoats the element to the right side of the parent. */
    .right {
      float: right;
    }

    /* Pushes inline content over by a fixed amount. */
    .push {
      margin-left: 1.4rem !important;
    }

    /* Format for math displayed on a page. */
    .math-block {
      text-align: center;
      font-size: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    /* Format for a block of code. */
    code {
      font-size: 0.8rem;
    }

    pre {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    h2 {
      color: #555;
      font-weight: 400;
      font-size: 1.75rem;
      margin-top: 1.4rem;
      margin-bottom: 0.75rem;
    }

    h3 {
      color: #555;
      font-weight: 400;
      font-size: 1.25rem;
      margin-top: 1.4rem;
      margin-bottom: 0.75rem;
    }

    .page-header {
      margin-bottom: 1.35rem
    }

    .page-body {
      margin-top: 3rem
    }

    .article-date {
      color: #999;
      font-size: 0.9rem;
    }

    .article-flavour {
      margin-bottom: 1.35rem;
      margin-top: 0.35rem;
    }

    section {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;

      .title {
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.35rem;
        margin-top: 0;

        a {
          color: #555;
          transition: color 0.5s ease;
        }

        a:hover {
          color: $highlight-color !important;
        }
      }

      .date {
        color: #999;
        font-size: 0.9rem;
        margin-bottom: 0.35rem;
      }

      .description {
        color: $primary-color-light;
        margin-top: 0;
        margin-bottom: 0;
      }

      .links {
        margin-bottom: 0.35rem;
        margin-top: 0.35rem;
      }
    }

    /* Input and textarea styling. */
    textarea, input {
      padding: 0.25rem;
      border: 1px solid #aaa;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      margin: 0.5rem 0;
      border-radius: 4px;
    }

    input {
      width: 47%;
    }

    textarea {
      display: block;
      width: calc(100% - 0.5rem - 2px);
    }

    textarea:focus, input:focus {
      outline: none !important;
      border: 1px solid #39b1a4;
      box-shadow: 0 0 0.25rem #cae8e5;
    }

    p.error {
      color: #d56666;
      font-weight: 400;
    }

    input.error {
      background-color: #fce6e6;
      border: 1px solid #d56666;
    }

    input.error:focus {
      border: 1px solid #d56666;
      box-shadow: 0 0 0.25rem #faacac;
    }

    /* Buttons */
    .btn {
      padding: 0.25rem;
      background: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      margin: 0.5rem 0;
      transition: color 0.5s ease;
    }

    .btn.remove {
      color: #d56666;
      float: right;
      font-size: 0.9rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }

    .btn.remove:hover {
      color: #faacac;
    }

    button.link {
      color: $highlight-color;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }

    button.link:hover {
      color: $highlight-color-light;
    }

    .btn.cancel {
      border: 1px solid #d56666;
      color: #d56666;
    }

    .btn.cancel:hover {
      color: #faacac;
    }

    .btn.cancel:focus {
      outline: none;
      box-shadow:0 0 0.3rem 0 #d56666;
    }

    .btn.submit {
      border: 1px solid #39b1a4;
      color: #39b1a4;
    }

    .btn.submit:hover {
      color: #8dded6;
    }

    .btn.submit:focus {
      outline: none;
      box-shadow:0 0 0.3rem 0 #39b1a4;
    }

    .comments {
      margin-top: 3rem;

      p {
        margin: 0;
        margin-bottom: 0.5rem;
        white-space: pre-wrap;
      }

      .comment {
        border-top: 1px solid #ccc;
        padding-top: 0.5rem;
        margin: 1rem 0;

        .date {
          color: #999;
          font-size: 0.9rem;
          margin-bottom: 0.35rem;
        }

        .name {
          font-weight: 400;
          margin-bottom: 0;
        }
      }

      .comment:last-child {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5rem;
      }
    }

    .post-comment {
      margin-top: 3rem;
    }

    form {
      margin: 0;
      padding: 0;
    }
  }

  /* Style for the page footer. */
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8.5rem;
    margin: auto;
    text-align: center;

    /* Style for the block of contact links in the page footer. */
    .contact {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    /* Style for the copyright notification in the page footer. */
    .credit {
      font-size: 0.8rem;
      font-weight: 300;
    }

    /* Contact link symbol. */
    .fa {
      transition: color 0.5s ease;
      color: $primary-color-light;
      margin-left: 0.35rem;
      margin-right: 0.35rem;
    }

    .fa:hover {
      color: $highlight-color;
    }
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}
