extends ../../layout

block header
  meta(name="description", content="Bread pudding cooked and served inside of a pumpkin.")
  title Bread Pudding in a Pumpkin

block content
  article
    section
      h1 Bread Pudding in a Pumpkin
      p Bread pudding cooked and served inside of a pumpkin.
      .img-wrapper
        img(src=staticHost + "/img/food/bread-pudding-in-a-pumpkin.jpg",
          alt="Bread pudding in a pumpkin, freshly cut and served.")
        p.caption.
          Bread pudding in a pumpkin, freshly cut and served.
    section
      h2 Ingredients

      h3 Base
      ul.bare
        li #[strong 1] Pie Pumpkin (about 8 inch diameter)
        li #[strong &frac14 lbs] Bread

      h3 Mixins
      ul.bare
        li #[strong &frac14 cup] Sliced Almonds
        li #[strong &frac14 cup] Walnuts
        li #[strong &frac14 cup] Raisins

      h3 Custard
      ul.bare
        li #[strong 2] Eggs
        li #[strong 1 cup] Light cream
        li #[strong &frac14 cup] Brown Sugar
        li #[strong 2 tbsp] Maple Syrup
        li #[strong &frac12 tsp] Cinnamon
        li #[strong &frac12 tsp] Vanilla
    section
      h2 Equipment
      ul.bare
        li Large Mixing Bowl
        li Stirring Spoon
        li Bread Knife
        li Pumpkin-carving Knife
        li Baking Sheet
        li Parchment Paper
        li Measuring cups and spoons
    section
      h2 Yield
      p One pumpkinful; about six servings.
    section
      h2 Steps
      ol.bold
        li.
          Prepare the pumpkin. Cut off the top, like you would if you were
          carving a jack-o'-lantern. Remove all of the seeds and insides.
        li Cut bread into &frac12-inch cubes.
        li.
          Fill pumpkin with bread cubes, almonds, walnuts, raisins, and other
          desired mixins. Ensure that mixins are evenly distributed amongst the
          bread cubes.
        li.
          Prepare the custard. Beat eggs and add cream, brown sugar, maple
          syrup, cinnamon, and vanilla in a mixing bowl. Stir until well-mixed.
        li.
          Pour custard into the pumpkin. You want all of the bread cubes to be
          well-soaked, but not drowning in liquid.
        li.
          Place the top back on the pumpkin and place on baking sheet lined
          with parchment paper.
        li.
          Bake at 350&degF for about 90 minutes. Baking time may vary depending
          on size of the pumpkin. Dish is about done when a nice can easily
          pierce the pumpkin's flesh.
        li.
          Serve free-standing. Cut slices directly out of the pumpkin.
    section
      h2 Notes
      p.
        This recipe lists almonds, walnuts, and raisins as mixins. However,
        feel free to exclude these or add other items as well, such as fruit.
      p.
        The custard uses both brown sugar and maple syrup for sweetening. I
        like maple, but one can omit the maple syrup and just use more brown
        sugar. Even white sugar is fine.
    section
      h2 Resources
      ul.bare
        li #[a(href="http://www.epicurious.com/recipes/food/views/pumpkin-stuffed-with-everything-good-361169") Pumpkin Stuffed with Everything Good]
        li #[a(href="http://allrecipes.com/recipe/7177/bread-pudding-ii/") Bread Pudding]
extends ../../layout

block header
  meta(name="description", content="A decadent twist on French toast.")
  title No Regrets French Toast

block content
  article
    section
      h1 No Regrets French Toast
      p.
        A decadent twist on French toast.
      .img-wrapper
        img(src="#{process.env.STATIC_HOST}/img/food/no-regrets-french-toast.jpg",
          alt="No Regrets French Toast with almonds, walnuts, and banana slices.")
        p.caption.
          No Regrets French Toast topped with almonds, walnuts, and banana slices.
    section
      h2 Ingredients
      ul.bare
        li #[strong 4 slices] Bread
        li #[strong &frac12 cup] Oats
        li #[strong &frac12 cup] Peanut Butter
        li #[strong &frac14 cup] Milk
        li #[strong &frac12 tsp] Vanilla
        li #[strong &frac12 tsp] Cinnamon
        li #[strong 1] Egg
        li #[strong 1 pad] Butter
    section
      h2 Equipment
      ul.bare
        li Frying Pan
        li Measuring Cup and Spoons
        li Medium Bowl
        li Plate/Flat Surface
        li Whisk (or fork)
        li Spreading Knife
    section
      h2 Yield
      p Four slices of French toast
    section
      h2 Steps
      ol.bold
        li.
          Prepare the egg mixture. Beat egg in the bowl. Add milk, vanilla,
          cinnamon. Stir until mixed.
        li Place frying pan over medium heat. Grease with butter.
        li.
          Take the first slice of bread. Spread peanut butter on #[i both]
          sides.
        li.
          Coat each side of the bread with oats. They will stick to the peanut
          butter.
        li.
          Dunk the entire slice in the egg mixture, ensuring that it is
          thoroughly coated.
        li.
          Place the slice in the frying pan, cooking for a few minutes on each
          side. Flip when the majority of oats on the bottom have browned.
        li Repeat for all slices of bread.
    section
      h2 Toppings
      p.
        The choice of toppings is vast and only limited by your tastes and
        creativity. I've enjoyed some combination of cinnamon sugar, jam, maple
        syrup, apple slices, banana slices, almonds, and walnuts.
    section
      h2 Notes
      p.
        Peanut butter can be chunky or smooth, according to preference,
        though smooth may work slightly better. The amount of peanut butter
        may also be varied, depending on how much you like peanut butter.
