extends /includes/layout

block header
  meta(name="description", content="A decadent twist on French toast.")
  title No Regrets French Toast

block content
  article
    section
      h1 No Regrets French Toast
      p.
        A decadent twist on French toast.
      .img-wrapper
        img(src=staticHost + "/img/food/no-regrets-french-toast.jpg",
          alt="No Regrets French Toast with almonds, walnuts, and banana slices.")
        p.caption.
          No Regrets French Toast topped with almonds, walnuts, and banana slices.
    section
      h2 Ingredients
      ul.bare
        li #[strong 4 slices] Bread
        li #[strong &frac12 cup] Oats
        li #[strong &frac12 cup] Peanut Butter
        li #[strong &frac14 cup] Milk
        li #[strong &frac12 tsp] Vanilla
        li #[strong &frac12 tsp] Cinnamon
        li #[strong 1] Egg
        li #[strong 1 pad] Butter
    section
      h2 Equipment
      ul.bare
        li Frying Pan
        li Measuring Cup and Spoons
        li Medium Bowl
        li Plate/Flat Surface
        li Whisk (or fork)
        li Spreading Knife
    section
      h2 Yield
      p Four slices of French toast
    section
      h2 Steps
      ol.bold
        li.
          Prepare the egg mixture. Beat egg in the bowl. Add milk, vanilla,
          cinnamon. Stir until mixed.
        li Place frying pan over medium heat. Grease with butter.
        li.
          Take the first slice of bread. Spread peanut butter on #[i both]
          sides.
        li.
          Coat each side of the bread with oats. They will stick to the peanut
          butter.
        li.
          Dunk the entire slice in the egg mixture, ensuring that it is
          thoroughly coated.
        li.
          Place the slice in the frying pan, cooking for a few minutes on each
          side. Flip when the majority of oats on the bottom have browned.
        li Repeat for all slices of bread.
    section
      h2 Toppings
      p.
        The choice of toppings is vast and only limited by your tastes and
        creativity. I've enjoyed some combination of cinnamon sugar, jam, maple
        syrup, apple slices, banana slices, almonds, and walnuts.
    section
      h2 Notes
      p.
        Peanut butter can be chunky or smooth, according to preference,
        though smooth may work slightly better. The amount of peanut butter
        may also be varied, depending on how much you like peanut butter.
