extends ../layout

block header
  meta(name="description", content="A token has been sent.")
  title Token Sent

block content
  .page-header
    h1 Token Sent
    p Follow the link in your email to authenticate.

