extends ../layout

block header
  meta(name="description", content="Sign in to the website.")
  title Sign In

block content
  article
    section
      h1 Sign In
      p Sign in to the website.
    section
      form(action="/user/authenticate", method="post")
        if error
          p.error= error
        input.block(name="name", type="text", placeholder="Screen Name")
        input.block(name="email", type="text", placeholder="Email Address")
        button.btn.submit(type="submit") Submit
